/* Estilos para el número de la matriz */
.matrix-number {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center; /* Centrar el número */
}

/* Estilos para la matriz */
.matrix {
    display: grid;
    border: 2px solid #888;
    background-color: #f9f9f9;
    margin: 0 auto; /* Centrar la matriz */
}

.matrix .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    font-size: 14px;
}

.matrix .cell.white {
    background-color: #fff;
    color: #000;
}

.matrix .cell.blue {
    background-color: #0056b3;
    color: #fff;
}
